.app.light {
    --bg-color: #fff;
    --inverted-bg-color: #383636;

    --primary-color: #030202;
    --secondary-color: #364e2a;
    
    --inverted-primary-color: #e9e9e9;
    --inverted-secondary-color: #afbddb;
}